# Ignorer les variables d’environnement sensibles
.env
.env.local
.env.*.local

# Ignorer les dépendances Node
node_modules/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer Vercel build cache si présent
.vercel/